/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins-Black.ttf");
    src: url("assets/fonts/Poppins-Light.ttf");
    src: url("assets/fonts/Poppins-Bold.ttf");
    src: url("assets/fonts/Poppins-Medium.ttf");
    src: url("assets/fonts/Poppins-Regular.ttf");
}

body {
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #4b69ec;
    color: #f7ecff;
}